@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/Content/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link href="~/Content/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/css/box.css" rel='stylesheet' type='text/css' />

    <script src="~/Content/js/jquery.min.js"> </script>
    <!-- Mainly scripts -->
    <script src="~/Content/js/jquery.metisMenu.js"></script>
    <script src="~/Content/js/jquery.slimscroll.min.js"></script>
    <!-- Custom and plugin javascript -->
    <link href="~/Content/css/custom.css" rel="stylesheet">
    <script src="~/Content/js/custom.js"></script>

</head>
<body>

    <div id="wrapper">


        <nav class="navbar-default navbar-static-top" role="navigation" style="background-color:#fff">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1> <a class="navbar-brand" href="index.html">CoWorking</a></h1>
            </div>
            <!--

            /.navbar-collapse -->
            <div class="clearfix">

            </div>

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li style="margin-bottom:7px">
                            <a href="/Home/Dashboard" class=" hvr-bounce-to-right"><i class="fa fa-dashboard nav_icon "></i><span class="nav-label">Dashboards</span> </a>
                        </li>
                        <li style="margin-bottom:7px">
                            <a href="/Home/FormAcara" class=" hvr-bounce-to-right"><i class="fa fa-edit nav_icon"></i> <span class="nav-label">Form Event</span> </a>
                        </li>

                        <li style="margin-bottom:7px">
                            <a href="/Home/DataEvent" class=" hvr-bounce-to-right"><i class="fa fa-tasks nav_icon"></i> <span class="nav-label">Data Event</span> </a>
                        </li>


                        <li style="margin-bottom:7px">
                            <a href="/Home/FormKomunitas" class=" hvr-bounce-to-right"><i class="fa fa-edit nav_icon"></i> <span class="nav-label">Form Komunitas</span> </a>
                        </li>

                        <li style="margin-bottom:7px">
                            <a href="/Home/DataKomunitas" class=" hvr-bounce-to-right"><i class="fa fa-users nav_icon"></i> <span class="nav-label">Data Komunitas</span> </a>
                        </li>

                        <li style="margin-bottom:7px">
                            <a href="/Home/Logout" class=" hvr-bounce-to-right"><i class="fa fa-sign-out nav_icon"></i> <span class="nav-label">Logout</span> </a>
                        </li>

                        <li style="margin-bottom:7px">
                            <a href="/Home/Logout" class=" hvr-bounce-to-right"><i class="fa fa-sign-out nav_icon"></i> <span class="nav-label">Logout</span> </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="content-main">

                <!--banner-->
                <div class="banner">

                    <h2>
                        <a href="index.html">Home</a>
                        <i class="fa fa-angle-right"></i>
                        <span>Dashboard</span>
                    </h2>
                </div>

                <div class="banner">

                    <div class="main-section">
                        <div class="dashbord dashbord-red">
                            <div class="icon-section">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i><br>
                                <small>Halaman Dashbaord</small>
                                <p>Dashboard</p>
                            </div>
                            <div class="detail-section">
                                <a href="/Home/index">More Info </a>
                            </div>
                        </div>

                        <div class="dashbord dashbord-green">
                            <div class="icon-section">
                                <i class="fa fa-edit" aria-hidden="true"></i><br>
                                <small>Form Input Event</small>
                                <p>Form Event</p>
                            </div>
                            <div class="detail-section">
                                <a href="/Home/FormAcara">More Info </a>
                            </div>
                        </div>
                        <div class="dashbord dashbord-orange">
                            <div class="icon-section">
                                <i class="fa fa-tasks" aria-hidden="true"></i><br>
                                <small>Data Tabel Event</small>
                                <p>Data EVent</p>
                            </div>
                            <div class="detail-section">
                                <a href="/Home/DataEvent">More Info </a>
                            </div>
                        </div>
                        <div class="dashbord dashbord-blue">
                            <div class="icon-section">
                                <i class="fa fa-edit" aria-hidden="true"></i><br>
                                <small>Form Input Komunitas</small>
                                <p>Form Komunitas</p>
                            </div>
                            <div class="detail-section">
                                <a href="/Home/FormKomunitas">More Info </a>
                            </div>
                        </div>
                        <div class="dashbord">
                            <div class="icon-section">
                                <i class="fa fa-users" aria-hidden="true"></i><br>
                                <small>Data Tabel Komunitas</small>
                                <p>Data Komunitas</p>
                            </div>
                            <div class="detail-section">
                                <a href="/Home/DataKomunitas">More Info </a>
                            </div>
                        </div>

                        <br /><br /><br /><br /><br />
                    </div>
                </div>
                <br /><br />
            </div>
        </div>
    </div>
    <div class="clearfix"> </div>

    <div class="copy">
        <p> &copy; 2018 CoWorking Space. All Rights Reserved </p>
    </div>
    <script src="~/Content/js/bootstrap.min.js"> </script>
</body>
</html>

